body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(184, 139, 221);
}

a {
  color: #5ddac5;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
  background-color: rgb(0, 0, 0);
}
	
li {
  list-style: none;
  color: rgb(236, 229, 236);
}